.ToDoList
h1 {
  font-weight: bold;
  margin: 80px 0px 20px auto;
letter-spacing: 8px;
font-size: 50px;
}
.ToDoList h2{
    letter-spacing: 8px;
    text-align: left;
    margin-top: 90px;
    margin-bottom: 45px;
    

}
.ToDoList
ul {
  padding: 0px;
  margin: 10px auto;
}
.ToDoList
li {
  list-style: none;
  display: inline;
}
.ToDoList .input{
    text-align: left;
}
.ToDoList input{
    display: inline-block;
    margin-right: 35px;
}
.ToDoList .setToDo{
 border: 1px solid #1C5C9C;
    padding: 12px 40px;
    border-radius: 4px;
    background-color: #1C5C9C;
    color: #68CAEA;
    transition: all 0.2s ease-out;
}
.ToDoList .setToDo:hover{
  background-color: #68CAEA;
  border: 1px solid #68CAEA;
  color: #1C5C9C;
}